

.App{

}

.grid-item{

  border-radius: 10px 10px 10px 10px;
  border: 2px solid rgb(249, 246, 246);
  box-shadow: 22px 25px 12px -3px rgba(0,0,0,0.1);
  width: 25vw;
  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.grid-item img {
    width: 15rem;
    height: 20rem;
}

.grid-item h4,h5 {
  text-align: center;
  margin: 0.5rem;
}

.grid-item-heading{
  margin-bottom: 1.5rem;
}

.Product-grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
}